.header {
    align-items: center;
    background-color: var(--bg-header);
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    text-align: center;
    height: 3vw;
}

.header__home {
    margin-left: 10em;
}

.header__lista {
    display: flex;
    margin-right: 10em;
}

.header__item {
    list-style: none;
    margin-right: 3em;
}

.header__link {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-family: var(--fonte-principal);
    font-weight: 500;
    transition: 500ms;
}

.header__link:hover {
    color: #ffc107;
    transition: 500ms;
}

.header__image{
    width: 20em;
}
